<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ETM</title>
</head>
<body>
	<div th:fragment="footer">Copyright © 2017 Astorm\czc All rights reserved</div>
	
	<div class="c-nav" th:fragment="nav">
		<div class="nav_container">
			<div class="nav_logo"></div>
			<div class="nav_content">
				<div class="nav_item nav_item_selected">首页</div>
				<div class="nav_item">任务</div>
				<div class="nav_item">分享</div>
				<div class="nav_item">工作日志</div>
			</div>
			<div class="headPic">
			</div>
		</div>
	</div>
</body>
</html>